*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
}

.formStyle {
  background-color: rgb(236, 226, 221);
  width: 30%;
  height: 50vh;
}

.hide {
  display: none;
}

.headerStyle {
  color: #10213b !important;
}

.optionButtonStyle {
  background-color: #10213b !important;
  padding: 10px 70px !important;
  color: white !important;
}

.optionButtonStyle:hover {
  background-color: #183867 !important;
}
.submitButton {
  background-color: #10213b !important;
  padding: 10px 30px !important;
}

.submitButton:hover {
  background-color: #183867 !important;
  padding: 10px 30px !important;
}

.optionButtonStyle2 {
  background-color: orange !important;
  padding: 10px 70px !important;
  color: #183867 !important;
  font-weight: 400 !important;
}

.boardStyle {
  background-image: url("image/tic-tac-toe_1706536926613.jpg");
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top left;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: /*grid;*/ none;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}
.show {
  display: grid;
}

.cell {
  position: relative;
  min-width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before,
.cell.circle::after {
  background-color: pink;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  background-color: pink;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.cell:not(.x):not(.circle):hover::before,
.cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: var(--mark-size);
  height: var(--mark-size);
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: /*white; #122b31;*/ #10213b;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: pink;
  font-size: 5rem;
  margin: 0;
}

.winning-message button {
  font-size: 3rem;
  background-color: orange;
  border: 1px solid black;
  padding: 10px 70px; /* Combine the padding values into a single declaration */
  cursor: pointer;
  color: #081425;
}

.winning-message button:hover {
  background-color: #081425;
  color: pink;
  border-color: white;
  transition: background-color 0.2s ease-in, color 0.2s ease-in,
    border-color 0.3s ease-in;
}

.winning-message.show {
  display: flex;
}
